[Unit]
Description=Sens email with IP info
After=network.target

[Service]
Type=
User=pi
ExecStart=/home/pi/code/pistreaming/run_ip_email.sh > /home/pi/ip.log 2>&1
Restart=always

[Install]
WantedBy=multi-user.target