[Unit]
Description=Sens email with IP info
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/home/pi/code/pistreaming/run_ip_email.sh > /home/pi/ip.log 2>&1

[Install]
WantedBy=multi-user.target